<footer class="footer">
  <div class="footer__locations">
    <h1 class="footer__heading">Locations</h1>
    <ul class="footer__list footer__list--1">
      <li class="footer__item footer__item--1">Constantia Kloof</li>
      <li class="footer__item footer__item--2">Ruimsig</li>
      <li class="footer__item footer__item--3">Strubens Valley</li>
      <li class="footer__item footer__item--4">Randpark Ridge</li>
      <li class="footer__item footer__item--5">Ferndale</li>
      <li class="footer__item footer__item--6">Northcliff</li>
      <li class="footer__item footer__item--7">Sandton</li>
      <li class="footer__item footer__item--8">Morningside</li>
      <li class="footer__item footer__item--9">Bryanston</li>
      <li class="footer__item footer__item--10">Fourways</li>
      <li class="footer__item footer__item--11">Douglas Dale</li>
      <li class="footer__item footer__item--12">Rivonia</li>
      <li class="footer__item footer__item--13">Woodmead</li>
    </ul>
  </div>
  <div class="footer__contact">
    <h1 class="footer__heading">Contact</h1>
    <ul class="footer__list footer__list--2">
      <li class="footer__item footer__item--1">24 Lalapha Gardens Sysie Road Randpark Ridge</li>
      <li class="footer__item footer__item--2">Gauteng</li>
      <li class="footer__item footer__item--3">Phone: +27 72 091 2266</li>
      <li class="footer__item footer__item--4">E-Mail: info@femsolutions.co.za</li>
    </ul>
  </div>
  <div class="footer__menu">
    <h1 class="footer__heading">Menu</h1>
    <ul class="footer__list footer__list--3">
      <li class="footer__item footer__item--1">Home</li>
      <li class="footer__item footer__item--2">About</li>
      <li class="footer__item footer__item--3">Contact</li>
      <li class="footer__item footer__item--4">Reviews</li>
      <li class="footer__item footer__item--5">Services</li>
    </ul>
  </div>
  <div class="footer__members">
    <h1 class="footer__heading ">Members of :</h1>
    <ul class="footer__list footer__list--4">
      <li class="footer__item footer__item--1"><img class="footer__img" src="images/Fpasa.png" alt=""></li>
      <li class="footer__item footer__item--2"><img class="footer__img" src="images/safma.jpg" alt=""></li>
    </ul>
  </div>
  <div class="footer__logo-box">
    <img class="footer__logo" src="../images/FEMS.png" alt="">
  </div>
</footer>

</body>

</html>
