

<div class="footer">
  <img class="logo-footer" src="images/FEMS.png" alt="">
  <br>

  <div class="footer-locations">
    <p class="footer-headings">Locations</p>
    <div class="locations-1">
      <p>Constantia Kloof</p>
      <p>Ruimsig</p>
      <p>Strubens Valley</p>
      <p>Randpark Ridge</p>
      <p>Ferndale</p>
      <p>Northcliff</p>
      <p>Sandton</p>
    </div>
    <div class="locations-2">
      <p>Sandton</p>
      <p>Morningside</p>
      <p>Bryanston</p>
      <p>Fourways</p>
      <p>Douglas Dale</p>
      <p>Rivonia</p>
      <p>Woodmead</p>
    </div>
  </div>

    <div class="footer-contact">
      <p class="footer-headings">Contact</p>
      <p>24 Lalapha Gardens Sysie Road Randpark Ridge</p>
      <p>Gauteng</p>
      <p>Phone: +27 72 091 2266</p>
      <p>E-Mail: info@femsolutions.co.za</p>
    </div>

    <div class="footer-links">
      <p class="footer-headings">Menu</p>
      <a class="links" href="/">Home</a>
      <a class="links" href="/about">About</a>
      <a class="links" href="#Contact">Contact</a>
      <a class="links" href="#Review">Reviews</a>
      <a class="last-links" href="/services">Services</a>
    </div>
    <div class="footer-members">
      <p class="footer-headings">Members of: </p>
      <img class="footer-members-2" src="images/Fpasa.png" alt="">
      <img class="footer-members-1" src="images/safma.jpg" alt="">
    </div>
    <p class="copyright">&copy;Facilities & Estate Management Solutions (Pty) Ltd ||<a class="andrew-email" href="mailto:@andrewkwebdeveloper@gmail.com?subject=feedback">Made by @andrewkwebdeveloper@gmail.com</a></p>
  </div>



<script src="app.js" charset="utf-8"></script>
</body>

</html>
