
<%- include("partials/header")-%>

<div class="about-page">
  <div class="new-page-content">
    <div class="new-top">
      <p class="new-heading">What We Are About.</p>
    </div>
    <div class="new-body">
      <p>We started Facilities & Estate Management Solutions (Pty) Ltd out of a need that we recognized in the market place to make the lives of Trustee’s easier. We as owners of the business have a collective 32 years of experience in this market and we know that the job of a Trustee is a thankless one, it is purely voluntary and in most instances they do not have the time they would like to spend on the affairs of the body corporate due to their family, work or other obligations. So as professional Estate & Facility managers we saw the need to provide the body corporates with a professional, pro-active & dedicated service offering, which would take the load off their shoulders and give them piece of mind, as well as being able to report back to fellow owners that their investments are in very capable hands.</p>
      <p>During our market research we found that a good deal of the service providers in this space received mediocre reviews and it mostly revolved around dissatisfaction with service that was promised but not provided or their complaints were not satisfactorily resolved. As a future client of Facilities & Estate Management Solutions (Pty) Ltd you shall receive the service you desire and more. Our clients are one of the most important aspects of the business and it is very important to us that the service we promise, is delivered in a professional manner, with integrity while providing a reliable service based on value for money, giving you piece of mind.</p>
      <p>Our services will ensure that your complex is well maintained, compliant with relevant regulations when it comes to the infrastructure and buildings, which in turn will make your complex a desirable destination for future home owners.</p>
      <p>We service a geographical area from Constantia Kloof, Ruimsig, Strubens Valley, Randpark ridge, Ferndale, Northcliff, Sandton, Morningside, Bryanston, Fourways, Douglas dale, Rivonia, Woodmead and many more areas in the north of Johannesburg.</p>
      <form action="/">
        <button type="submit" class="home-button">Home</button>
      </form>
    </div>
  </div>
</div>

<%- include("partials/footer")-%>
