<%- include("partials/header")-%>

<div class="review-page container-fluid">
  <div class="new-page-content container">
    <div class="new-top">
      <p class="new-heading">Want to Tell Us Something? Leave a review.</p>
    </div>
    <div class="new-body container">
      <div class="review-form container">
        <div class="review-inner container">
          <form class="review-input-fields container" action="/addreview" method="post">
            <input class="input-field" type="text" name="fNameReview" placeholder="First Name" value="" required>
            <input class="input-field" type="text" name="lNameReview" placeholder="Last Name" value="" required>
            <input class="input-field" type="text" name="titleNameReview" placeholder="Professional Title" value=""  />
            <textarea class="review-textarea" name="reviewText" rows="2" placeholder="Enter Review Here" required></textarea>
            <div class="button-form"><button class="GTA" type="submit" >Submit Review</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer")-%>
