<%- include("partials/header")-%>


<header class="header header--review">
  <div class="header__content">
    <div class="header__text-box">
      <div class="header__box">
      <h1 class="heading-primary u-margin-bottom-medium">
        Want us to know something? Leave a review
      </h1>
      </div>
      <form method="post" action="/addreview" class="review-form">
        <input placeholder="First Name" name="fNameReview" type="text" class="review-form__input" required>
        <input placeholder="Last Name" name="lNameReview" type="text" class="review-form__input"  required>
        <input placeholder="Professional Title" name="titleNameReview" type="text" class="review-form__input" required>
        <textarea name="reviewText" placeholder="Your Message Here..." cols="30" rows="10" class="review-form__input"required></textarea>
        <button class="button__btn" type="submit" name="button">Send Message</button>
      </form>
    </div>


  </div>
</header>

<%- include("partials/footer")-%>
