<%- include("partials/header")-%>

<div class="failure-page">
  <div class="new-page-content">
      <h1 class="render-heading">Failure!</h1>
      <p class="render-content">Oops! Something went wrong.</p>
  </div>
</div>

<%- include("partials/footer")-%>
