<%- include("partials/header")-%>

<div class="failure-page container-fluid">
  <div class="new-page-content container">
    <div class="render-heading container"><p>Failure!</p></div>
      <p class="render-content">Oops! Something went wrong.</p>
  </div>
</div>

<%- include("partials/footer")-%>
