<%- include("partials/header")-%>


<header class="header header--services">
  <div class="header__content">
    <div class="header__text-box">
      <div class="header__box">
      <h1 class="heading-primary u-margin-bottom-medium">
        Services That We Provide.
      </h1>
      </div>
      <ul class="services-list text-primary">
        <li>Site infrastructure assessments which become the basis of your maintenance roadmap.</li>
        <li>Estate Management(Residential Complexes/Buildings).</li>
        <li>Facility Management(Small & Medium sized office parks).</li>
        <li>Weekly or Monthly site visit reporting(as per your requirements).</li>
        <li>Contractor Management(e.g. Security,Garden & Cleaning Services).</li>
        <li>Meter Reading.</li>
        <li>Occupational Health and Safety Site risk assessments.</li>
        <li>Project Management.</li>
        <li>Preventative maintenance programs.</li>
        <li>Compilation of STMA 10 year maintenance plan.</li>
        <li>Compilation of Standard Operation Procedure Manuel customized for your complex security.</li>
        <li>Compilation of Emergancy Action Plans(EAP).</li>
        <li>Asset Registers</li>
      </ul>
      </div>
    <form action="/" class="button">
      <button class="button__btn" type="submit" name="button">Home</button>
    </form>
  </div>
</header>
<%- include("partials/footer")-%>
