<%- include("partials/header")-%>

<div class="services-page">
  <div class="new-page-content">
    <div class="new-top">
      <p class="new-heading">Services That We Provide.</p>
    </div>
    <div class="new-body">
      <ul class="service-list">
        <li>Site infrastructure assessments which become the basis of your maintenance roadmap.</li>
        <li>Estate Management(Residential Complexes/Buildings).</li>
        <li>Facility Management(Small & Medium sized office parks).</li>
        <li>Weekly or Monthly site visit reporting(as per your requirements).</li>
        <li>Contractor Management(e.g. Security,Garden & Cleaning Services).</li>
        <li>Meter Reading.</li>
        <li>Occupational Health and Safety Site risk assessments.</li>
        <li>Project Management.</li>
        <li>Preventative maintenance programs.</li>
        <li>Compilation of STMA 10 year maintenance plan.</li>
        <li>Compilation of Standard Operation Procedure Manuel customized for your complex security.</li>
        <li>Compilation of Emergancy Action Plans(EAP).</li>
        <li>Asset Registers</li>
      </ul>
      <form action="/">
        <button type="submit" class="home-button">Home</button>
      </form>
    </div>
  </div>
</div>


<%- include("partials/footer")-%>
