<%- include("partials/header")-%>

<div class="success-page">
  <div class="new-page-content">
      <h1 class="render-heading">Success!</h1>
      <p class="render-content">We have recieved your message.</p>
  </div>
</div>

<%- include("partials/footer")-%>
