<%- include("partials/header")-%>

<div class="success-page container-fluid">
  <div class="new-page-content container">
      <div class="render-heading container"><p>Success!</p></div>
      <p class="render-content">We have recieved your message.</p>
  </div>
</div>

<%- include("partials/footer")-%>
