<%- include("partials/header")-%>

<header class="header header--TsandCs">
  <div class="header__content">
    <div class="header__text-box">
      <div class="header__box">
      <h1 class="heading-primary u-margin-bottom-medium">
        Terms and Conditions
      </h1>
      </div>
      <div class="privacy__box">
        <p class="privacy-headings">2.4.1.             INTRODUCTION</p>

        <p class="text-primary">Welcome to the Website, owned and operated by the Company. These Terms and Conditions of use set out the terms that regulate the use of the Website by the user.</p>

        <!-- <p class="privacy-headings"></p> -->
        <p class="privacy-headings">2.4.2.             ACCEPTANCE OF TERMS</p>

        <p class="text-primary">These Terms take effect as soon as you access the Website and is a binding agreement between the Company and yourself. The current version of these Terms will govern both the Company’s and your rights and obligations each time you access this Website. If you do not agree with any provision contained in these Terms, you must immediately stop using the Website. Your failure to do so, and your continued use of the Website, will mean that you have read, understood, and agree to the provisions of these Terms.</p>


        <p class="privacy-headings">2.4.3.             USE OF THE WEBSITE</p>

        <p class="text-primary">By accessing the Website, you warrant that your use of the Website is for lawful purposes, you are over 18 years of age, and you can legally conclude an agreement with the Company.</p>
        <p class="text-primary">You further warrant that you will not contravene any South African or international laws by using the Website, any services offered on the Website, or any information provided to you by the Company through your use of the Website. Except as expressly authorised by these Terms, you may not use, alter, copy, distribute, or transmit any content contained on this Website.</p>

        <p class="privacy-headings">2.4.4.             USE OF INFORMATION</p>

        <p class="text-primary">The Company conducts its business in accordance with South African legislation applicable to its business. One aspect of such legal compliance relates to data protection. The Company values the privacy of your information and will protect your personal information in accordance with laws and regulations. This includes the Protection of Personal Information Act no 4 of 2013 (POPIA).</p>
        <p class="text-primary">By using the Website, you acknowledge, agree and consent to the Company and our suppliers, or any person authorised on our behalf, using your personal information, for any purpose necessary for you to use the Website, or for the Company to render any service to you via the Website.</p>

        <p class="privacy-headings">2.4.5.             AMENDMENT OF TERMS</p>

        <p class="text-primary">The Company reserves the right to amend these Terms at any time. Whenever the Company concludes any amendments to these Terms, the amended Terms will be posted on this page, together with an indication at the bottom of the page as to the date upon which the Terms were last revised. You agree to review these Terms for any such amendments whenever you visit the Website. Should you not agree to any amendments to these Terms, you must immediately stop using the Website.</p>

        <p class="privacy-headings">2.4.6.             CONTENT OF USERS (If applicable)</p>

        <p class="text-primary">There are certain areas on the Website that allow users of the Website to upload questions, data, and other information. As a user, you are responsible for the content that you upload, display, and add to the Website. The Company will not review any user content.</p>
        <p class="text-primary">You agree not to add any user content that contains any information that is not legally permitted, you do not have a right to make available under any law, or under contractual relationships and you know is incorrect. You agree that any user content that you add to the Website does not violate any third-party rights.</p>

        <p class="privacy-headings">2.4.7.             COPYRIGHT AND INTELLECTUAL PROPERTY RIGHTS</p>
        <p class="text-primary">For purposes of these Terms, Intellectual Property Rights means all intellectual property rights including, patents, designs, copyright, trademarks, trade secrets and know-how, applications and registrations, renewals, and extensions.</p>
        <p class="text-primary">Unless the contrary is specified in these Terms, all content contained on the Website, or incorporated or embedded in any service offered on the Website, including software, images, text, graphics, illustrations, logos, branding, photographs, and all Intellectual Property Rights in such content, belongs exclusively to the Company. You agree that you will at no time lay claim to the Company content, and to any Intellectual Property Rights subsisting in such content.</p>
        <p class="text-primary">Except as explicitly provided herein, nothing in these Terms shall be deemed to create a license to any Intellectual Property Rights belonging to the Company, and you agree that you will not:</p>
        <ul class="text-primary">
          <li>·         Modify, port, translate, localise, or create derivative works of the Company content.</li>
          <li>·         Decompile, disassemble, reverse engineer, or attempt to reconstruct, identify, or discover any source code, underlying ideas, underlying user interface techniques or algorithms contained or incorporated in any Company content.</li>
          <li>·         Disclose any of the Company content.</li>
          <li>·         Sell, lease, license, sublicense, copy, market, reproduce, transmit or distribute the Company content.</li>
          <li>·         Knowingly take any action that would cause any of the Company content to be placed in the public domain.</li>
        </ul>
        <p class="text-primary">You understand and acknowledge that you may be exposed to user content that is inaccurate, misleading, and offensive. You agree that the Company will not be liable for any damages you allege to incur because of exposure to such user content.</p>

        <p class="privacy-headings">2.4.8.             DISCLAIMER OF WARRANTIES AND LIABILITIES</p>

        <p class="text-primary">The Company does not make any warranties, statements, or guarantees, regarding the Website and any services offered on the Website. These are provided on an "as is" basis. Use of the Website, any Company content and any service offered is entirely at your own risk.</p>
        <p class="text-primary">The Company makes no warranties or conditions about the quality, accuracy, reliability, completeness, or timeliness of any of the foregoing. The Company does not take any responsibility for any errors, omissions or inaccuracies on the Website, the content and any service that may be offered.</p>
        <p class="text-primary">Neither the Company nor its shareholders, directors, or employees (Indemnified Parties), shall be responsible for any loss, harm, damage, and expense which may be suffered by you or any third-party, which may be attributable to your access and use of the Website, or any information contained on or received via the Website.
          The Indemnified Parties shall not be liable for any loss of business, data or profits, failure, or unavailability of the Website for any reason, and failure by any third-party service provider to render any service which are necessary to ensure the availability of the Website.</p>
        <p class="text-primary">You hereby indemnify the Indemnified Parties against any loss, liability, harm, damage, or expense which may be suffered by you or any third-party because of or which may be attributable to any of the above.</p>

        <p class="privacy-headings">2.4.9.             INDEMNITY</p>

        <p class="text-primary">In addition to the warranties and indemnities set out above, you hereby agree to hold harmless the Indemnified Parties from any claims, damages, obligations, losses, liabilities, costs or debt, and expenses arising from:</p>
        <ul class="text-primary">
          <li>·         Your violation of any provision of these terms.</li>
          <li>·         Your violation of any third party right including any Intellectual Property Right, or other property or privacy right.</li>
          <li>·         Any claim that the user content caused damage to a third-party.</li>
        </ul>

        <p class="privacy-headings">2.4.10.           EXTERNAL LINKS</p>

        <p class="text-primary">External links may be provided for your convenience; however, the Company makes no representations whatsoever about any third-party Website or its content. Use of any external links provided is entirely at your own risk. It is your responsibility to ensure that you obtain all relevant information and that you read the privacy and security policy displayed on any third-party Website. The Company has no control over such third-party websites and will not be liable for any loss or damage that you may suffer, because of your use of third-party websites.</p>

       <p class="privacy-headings">2.4.11.           GOVERNING LAW</p>

       <p class="text-primary">These Terms shall be governed in accordance with the laws of the Republic of South Africa, and you hereby submit to the jurisdiction of the South African courts. If any provision of these Terms is found to be unlawful, void, or for any reason unenforceable by a competent court in the Republic of South Africa, then that provision shall be severable from these Terms and shall not affect the validity and enforceability of any remaining provisions.</p>

      </div>
        <form action="/" class="button">
          <button class="button__btn" type="submit" name="button">Home</button>
        </form>
</header>

<%- include("partials/footer")-%>
