:root{
  --color-white:#F7F7F7;
  --color-blue:#93DEFF;
  --color-primary-text:#323643;
  --color-secondary-text:#606470;
}

$font-secondary:'Playfair Display', serif;
$font-primary:'Bebas Neue', cursive;
$color-black:#000;
$color-white:#F7F7F7;
$container-white:rgba($color-white,0.85);
