
/* headings */
/* font-family: 'Playfair Display', serif; */

/* body */
/* font-family: 'Source Sans Pro', sans-serif; */

/* Home Page */

a{
  text-decoration: none;
}
h1{
  display: inline-block;
}
ul{
    list-style-type: none;
}

body{
  margin: 0;
  overflow-x: hidden;
  text-align: center;
}

.nav-list {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  letter-spacing: 4px;
}

.loader{
  background-image: url("images/images-suggest-one.jpg");
  color: #323643;
  padding: 200px 0px 100px 0px;
}
.logo{
  width: 90px;
  height: 90px;
}
.nav-bar{
  background-color: white;
  border-bottom: solid 0.5px;
  padding: 0px !important;
}
.line{
  border-right: solid 1px;
}
.line-last{
  display: inline-block;
}

.bar{
  padding-bottom:10px;
  padding-top: 5px;
  margin: 0 20px 0 20px;
  color:#323643;
  overflow: hidden;
  position: relative;
  padding: 0.5em 0;
}
/* Fade in */
.bar::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.07em;
  background-color:#93DEFF;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity 1;
  transform: translate3d(-100%, 0, 0);

}
.bar:hover::after,
.bar:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
  transform: translate3d(0, 0, 0);
}
.bar:hover{
  color: #323643;
}

.icons{
  float: right!important;
}
.icons i{
  color: #323643 !important;
  font-size: 35px!important;
  margin:0px 10px 0px 10px;
}
.info{
 background-color:rgb(247, 247, 247,0.65);
 padding-bottom: 50px;
}

.content{
  font-family: 'Playfair Display', serif;
  color: #606470;
}
.content p{
margin-top: 20px;
padding: 0px 50px 0 50px;

}

.content-head{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #323643;
  letter-spacing: 5px;
  font-size: 60px;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color:#323643;
  padding: 20px 0 0 0;
}
.about3{
  margin-bottom: 0;
}
.button-form{
  text-align: center;
}
.GTA{
  border: none;
  background-color: #93DEFF;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  font-weight: 700;
  color: #323643;
  font-family: 'Playfair Display', serif;
}
.GTA:hover{
  background-color: #606470;
  color: #F7F7F7;
}
.my-container{
  text-align: center;
}
.values{
  background-color: #606470;
  width: 320px;
  height: 400px;
  text-align: left;
  padding: 50px;
  margin: 50px 25px 50px 25px;
  display: inline-block;
}
.values-box{
  text-align: center;
}
.values-head{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  letter-spacing: 6px;
  color: #F7F7F7;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: #93DEFF;
}
.values-body{
  color: #323643;
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
}

.review{
  text-align: center;
}

.services{
  background-image: url("images/buildings.jpg");
  background-position: center;
  padding: 50px 0 50px 0;
}
.services-box{
  background-color:rgb(247, 247, 247,0.65);
  padding-bottom: 50px;
}

.contact{
  margin-top: 20px;
  background-image: url("images/footer.jpg");
  padding: 50px;
}
.contact-container{
   background-color:rgb(247, 247, 247,0.65);
   padding: 20px;
}

.contact-inner{
  background-color:#606470;
  margin: 50px;
 padding: 0px 0px 70px 0;
}
.contact-info{
 padding: 10px 0px 0px 10px;
 text-align: center;
}

.input-field{
  margin: 50px 0px 0px 0;
  background: none;
  padding: 10px;
  border: solid 1px #606470;
  outline: none;
  font-family: 'Playfair Display', serif;
  color: #323643;
}

.input-field:focus{
  border: solid 2px #323643;
}

.contact-textarea:focus{
  border: solid 2px #323643;
}

.contact-textarea{
  margin: 50px 0px 0px 0px;
  background: none;
  padding: 10px;
  border: solid 1px #606470;
  outline: none;
  font-family: 'Playfair Display', serif;
  color: #323643;
  width: 100%;
  display: inline-block;
}
.textarea-container{
  text-align: center;
}

.contact-button{
  background-color:#93DEFF ;
  font-family: 'Playfair Display', serif;
  border: none;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
}

.contact-button:hover{
  background-color: #606470;
  color:#F7F7F7;
}

.contact-info i{
  font-size: 30px;
  padding: 20px 20px 20px 40px;
}

.contact-info span{
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  letter-spacing: 2px;
}
.contact-form{
  margin-top: 50px;
  background-color:rgb(247, 247, 247,0.65);
  text-align: center;
  padding: 0 0 40px 0;
}

.links{
padding: 5px 0 5px 0;
  text-decoration: none;
  color: #323643;
  font-family: 'Playfair Display', serif;
  display: block;
}
.links:hover{
  color: #323643;
  font-weight: 600;
}
.last-links:hover{
  color: #323643;
  font-weight: 600;
}
.last-links{
  text-decoration: none;
  color: #323643;
  font-family: 'Playfair Display', serif;
}


.footer{
  background: #606470;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}

.logo-loader{
  width: 250px;
  height:274.25px;
  float: left;
}

.logo-footer{
  width: 250px;
  height:274.25px;
}

.footer-members-1{
  width: 150px;
  height:90.5px;
}
.footer-members-2{
 width: 375px;
}
.footer-members{
display: inline-block;
}

.footer-locations{
  display: inline-block;
  font-family: 'Playfair Display', serif;
  color: #323643;
}
.locations-1{
  display: inline-block;

}
.locations-2{
  display: inline-block;
  margin-left: 10px;
}
.footer-contact{
  display: inline-block;
  font-family: 'Playfair Display', serif;
  color: #323643;
}
.footer-headings{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 7px;
  color: #323643;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: #323643;
}
.footer-links{
  display: inline-block;
}

.fa-quote-left{
  display: inline-block;
  margin: 0px 20px 0px 0px;
  color: #93DEFF;
  font-size: 25px;
}
.fa-quote-right{
  display: inline-block;
margin: 0px 0px 0px 20px;
color: #93DEFF;
font-size: 25px;
}

.review-block{
  background-color: #606470;
  width: 465px;
  height:270px;
  padding: 40px;
  margin: 20px 0px 20px 20px;
  display: inline-block;
  text-align: left;
}

.review{
  text-align: center;
}

.review-content{
  font-family: 'Playfair Display', serif;
  color: #323643;
}
.review-name{
  font-family: 'Bebas Neue', cursive;
  color: #323643;
  letter-spacing: 5px;
  font-size: 20px;
  margin: 0;
}
.review-title{
  font-family: 'Playfair Display', serif;
  color: #323643;
  margin-bottom: 10px;
}
/* About Page */

.about-page{
background-image: url("images/about.jpg");
width: 1600px;
height: 789px;
padding: 125px 50px 50px 50px;

}
.new-page-content{
  background-color:rgb(247, 247, 247,0.65);
  width: 1500px;
  height: 650px;
}
.new-heading{
  font-family: 'Bebas Neue', cursive;
  color: #323643;
  display: inline-block;
  font-size: 60px;
  letter-spacing: 5px;
  border-bottom-style:solid;
  border-bottom-width: 2px;
  border-bottom-color: #323643;
  width: 1100px;
  margin: 20px 100px 0px 80px;
}
.new-top{
  text-align: center;
}

.new-body{
  font-family: 'Playfair Display', serif;
  color: #606470;
  padding: 60px 90px 90px 90px;
}
.home-button{
  border: none;
  background-color: #93DEFF;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  color: #323643;
  font-family: 'Playfair Display', serif;
  margin: 30px 0px 30px 600px;
  font-size: 20px;
}
.home-button:hover{
  background-color: #606470;
  color: #F7F7F7;
}

.services-page{
  background-image: url("images/services.jpg");
  width: 1600px;
  height: 789px;
  padding: 125px 50px 50px 50px;
}
.service-list{
  list-style-type: circle;
  line-height: 27px;
}
.copyright{
  color: #323643;
  font-family: 'Playfair Display', serif;
}
.andrew-email{
  text-decoration: none;
  color: #323643;
}
.andrew-email:hover{
  color: #323643;
  font-weight: bold;
}
.review-page{
  background-image: url("images/review.jpg");
  width: 1600px;
  height: 789px;
  padding: 125px 50px 50px 50px;
}
.review-form{
  background-color:#606470;
  width: 1300px;
  height: 450px;
  padding: 50px 0px 50px 140px;
}
.review-inner{
  width: 1000px;
  height: 350px;
  background-color:rgb(247, 247, 247,0.65);
}
.review-textarea{
  margin: 50px 20px 0px 90px;
  background: none;
  padding: 10px;
  border: solid 1px #606470;
  outline: none;
  font-family: 'Playfair Display', serif;
  color: #323643;
}
.submit-review{
  border: none;
  background-color: #93DEFF;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  color: #323643;
  font-family: 'Playfair Display', serif;
  margin: 10px 0px 30px 430px;
  font-size: 19px;
}
.submit-review:hover{
  background-color: #606470;
  color: #F7F7F7;
}
.success-page{
  background-image: url("images/success.jpg");
  width: 1600px;
  height: 789px;
  padding: 125px 50px 50px 50px;
  text-align: center;
}
.render-heading{
  font-family: 'Bebas Neue', cursive;
  color: #323643;
  font-size: 200px;
  letter-spacing: 7px;
  padding: 100px 100px 0px 100px;
}
.render-content{
  font-family: 'Playfair Display', serif;
  color: #323643;
  font-size: 60px;
  padding: 50px 100px 0px 100px;
}
.failure-page{
  background-image: url("images/failure.jpg");
  width: 1600px;
  height: 789px;
  padding: 125px 50px 50px 50px;
  text-align: center;
}
.dots{
  display: none;
}
@media only screen and (max-width: 1424px) {
  .about3{
    display: none;
  }
}
@media only screen and (max-width: 1000px) {

  .logo-loader{
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .about2{
    display: none;
  }
  .dots{
    display: initial;
  }
  .review-block{
    margin: 20px 0px 20px 0px;
  }
}
