.services{
  display: flex;
  align-items: center;
  justify-content: center;

  &__content{
    background-color: $container-white;
    width: 80%;
    padding: 5rem;
    @include respond(tab-land){
      overflow-x: hidden;
      overflow-y: auto;
      height: 55rem;
    }
  }

  &__heading-box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
